<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">

    <div class="container">
        <a class="navbar-brand" href="{% url 'user:index' %}">DjangoOne</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{% url 'project_manager:index' %}" class="nav-link">Project Manager</a></li>
                <li class="nav-item"><a href="{% url 'bill_tracker:index' %}" class="nav-link">Bill Tracker</a></li>
                <li class="nav-item"><a href="{% url 'lilquote:index' %}" class="nav-link">LilQuote</a></li>
                <li class="nav-item"><a href="{% url 'tv_guide:index' %}" class="nav-link">TV Guide</a></li>
            </ul>
        </div>

        <div style="float: right;">
            {% if request.session.name %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ request.session.name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a>
                    </div>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'user:index' %}">Login</a>
                        <a class="dropdown-item" href="{% url 'user:register' %}">Register</a>
                    </div>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
  </nav>